/* === обнуление === */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1;
  font-family: Manrope;
  color: #333333;
}
/* == общие стили ==        =========================================================================================================== */
body {
  /* background-color: #ccc;  */ /* временно */
  font-family: Manrope;
  /* font-size: 16px; */
  color: #333333;
}

[class*="__container"] {
  max-width: 1170px; /* добавляем сюда безопасные паддинги */
  margin: 0 auto;
}
/* ==================================== */

@media (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 15px; /* добавили здесь безопасные паддинги */
  }
}
/* ==================================== */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* ==================================== */
.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.375;
}
.title_center {
  text-align: center;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 30px;
  }
}
/* ==================================== */
.page {
  flex: 1 1 auto;
}
/* ==================================== */

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  column-gap: 15px;
  min-height: 103px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 767.98px) {
  .header__container {
    flex-direction: column;
    min-height: auto;
  }
}

.header__logo {
  font-size: 23px;
  font-weight: 800;
  color: inherit;
}
.header__menu {
}
/* ==================================== */
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 46px;
  row-gap: 15px;
}

.menu__item {
}
.menu__link {
  font-size: 13px;
  font-weight: 800;
  color: inherit;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__list {
    justify-content: center;
  }
  .menu__link {
    font-size: 18px;
  }
}
/* ==================================== */
.main-block {
  padding-bottom: 110px;
}

.main-block__container {
  position: relative;
  padding-top: 183px;
}
.main-block__container::after {
  position: absolute;
  top: 0;
  left: 68%;
  width: 200%;
  height: 100%;
  content: "";
  background-color: #bdccff;
}

.main-block__body {
  margin-bottom: 14px;
}

.body-main-block {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.body-main-block__content {
  flex: 0 1 50%;
}

.content-main-block {
  position: relative;
  z-index: 2;
  padding-top: 40px;
}
.content-main-block__body {
  padding-right: 65px;
}
.content-main-block__sub-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #ff9900;
  text-transform: uppercase;
}
.content-main-block__title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 54px;
  line-height: 73px;
  color: #000000;
}
.content-main-block__text {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
}
.content-main-block__form {
}
.form-main-block {
  position: relative;
  z-index: 2;
  display: flex;
  margin-right: -188px;
  background: #ffffff url("../img/main/home.svg") 33px 32px no-repeat;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}
.content-main-block__input {
  flex: 1 1 auto;
  width: 100%;
  height: 86px;
  padding: 0 0 0 74px;
  background: transparent;
  border: 1px solid #dadada;
  font-size: 20px;
  /* outline: none; */
}
.content-main-block__input::placeholder {
  color: rgba(49, 53, 59, 0.3);
}
.content-main-block__button {
  flex: 0 0 188px;
  padding: 5px 15px;
  height: 86px;
  background-color: #f85a47;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
.content-main-block__button:hover {
  background-color: #b9473a;
}
.body-main-block__slider {
  flex: 0 1 50%;
  min-width: 0;
}
.slider-main-block {
}
.swiper {
}
.slider-main-block__wrapper {
}
.swiper-wrapper {
}
.slider-main-block__slide {
  position: relative;
  padding-bottom: 95%;
}
.slider-main-block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.body-main-block__arrows {
  position: absolute;
  bottom: -52px;
  right: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}
.body-main-block__arrow.swiper-button-prev,
.body-main-block__arrow.swiper-button-next {
  position: static;
  width: 11px;
  height: 19px;
  background: url("../img/icons/arrow.svg") 0 0 / 100% no-repeat;
  opacity: 0.5;
}
.body-main-block__arrow::after {
  display: none;
}
.body-main-block__arrow.swiper-button-prev {
  transform: rotate(-180deg);
}
.body-main-block__arrow:hover {
  opacity: 1;
}

.main-block__partners {
}
.partners-main-block {
  max-width: 65%;
}
.partners-main-block__label {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #31353b;
}
.partners-main-block__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 25px;
}
.partners-main-block__item {
}
.partners-main-block__item img {
  max-width: 100%;
}

@media (max-width: 1199.98px) {
  .main-block__container {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .content-main-block__body {
    padding-right: 0;
  }
  .body-main-block {
    display: block;
  }
  .form-main-block {
    margin-right: 0;
  }
  .body-main-block__content {
    margin-bottom: 40px;
  }
  .main-block__body {
    margin-bottom: 40px;
  }
  .partners-main-block {
    position: relative;
    z-index: 2;
    max-width: none;
  }
}
@media (max-width: 990.98px) {
  .main-block {
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .partners-main-block__items {
    justify-content: center;
  }
  .content-main-block__title {
    font-size: 30px;
    line-height: 120%;
  }
  .form-main-block {
    display: block;
  }
  .content-main-block__button {
    width: 100%;
  }
  .main-block {
    padding-bottom: 30px;
  }
}
@media (max-width: 479.98px) {
  .form-main-block {
    background: #fff;
  }
  .content-main-block__input {
    padding: 0 15px;
  }
}
/* ==================================== */

.how {
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 990.98px) {
  .how {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .how {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.how__container {
}
.how__title {
  margin-bottom: 70px;
}
.title {
}
.how__items {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, minmax(auto, 260px));
  column-gap: 30px;
  row-gap: 45px;
  justify-content: space-between;
}
@media (min-width: 991px) {
  .how__items {
    padding: 0 35px;
  }
}
.how__item {
}
.item-how {
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
  position: relative;
}
.item-how:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 41px;
  width: 210px;
  height: 11px;
  background: url("../img/how/border-1.svg") 0 0 / 100% no-repeat;
  transform: translate(86.5%, 0px);
}
.item-how_2:not(:last-child)::after {
  transform: translate(86.5%, 0px) rotate(-180deg);
}
.item-how_1 .item-how__icon {
  background-color: #9672ff;
  box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481),
    0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035),
    0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}
.item-how_2 .item-how__icon {
  background-color: #4ddffd;
  box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481),
    0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035),
    0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}
.item-how_3 .item-how__icon {
  background-color: #f2b8ec;
  box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481),
    0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035),
    0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}
.item-how__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 90px;
  height: 90px;
  border-radius: 20px;
}
.item-how__title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}
.item-how__text {
  font-size: 16px;
  line-height: 26px;
}
@media (max-width: 1199.98px) {
  .item-how:not(:last-child)::after {
    width: 170px;
    transform: translate(68.5%, 0px);
  }
  .item-how_2:not(:last-child)::after {
    transform: translate(68.5%, 0px) rotate(-180deg);
  }
}
@media (max-width: 990.98px) {
  .item-how:not(:last-child)::after {
    width: 130px;
    transform: translate(63%, 0px);
  }
  .item-how_2:not(:last-child)::after {
    transform: translate(63%, 0px) rotate(-180deg);
  }
}
@media (max-width: 767.98px) {
  .how__items {
    grid-template-columns: 1fr;
  }
  .item-how:not(:last-child)::after {
    display: none;
  }
  .item-how__icon {
    margin-bottom: 20px;
  }
}
.how__title {
  margin-bottom: 30px;
}
/* ==================================== */
.deals {
  padding-top: 110px;
  padding-bottom: 120px;
}
.deals__container {
}
.deals__header {
}
.deals__tabs {
}

.header-deals {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.header__deals__content {
  flex: 1 1 auto;
}
.header-deals__title {
}
.header-deals__title:not(:last-child) {
  margin-bottom: 15px;
}
.header-deals__text {
  max-width: 470px;
}
.header-deals__link {
  display: inline-block;
  padding: 22px 33px;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  color: #ffffff;
  text-align: center;
  background-color: #f85a47;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
    0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.header-deals__link:hover {
  background-color: #b9473a;
}

.tabs-deals {
}
.tabs-deals__nav {
}
.tabs-deals__button {
}
.tabs-deals__body {
}
.tabs-deals__item {
}

.item-tabs {
}
.item-tabs__items {
}
.item-tabs__item {
}
.item-tabs__options {
}
.item-tabs__option {
}
.item-tabs__image {
}
/* ==================================== */
