/* === обнуление === */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1;
  font-family: Manrope;
  color: #333333;
}
/* == общие стили ==        =========================================================================================================== */
body {
  background-color: darkgrey;
  font-family: Manrope;
  /* font-size: 16px; */
  color: #333333;
}

[class*="__container"] {
  max-width: 1170px; /* добавляем сюда безопасные паддинги */
  margin: 0 auto;
}
/* ==================================== */

@media (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 15px;
  }
}
/* ==================================== */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* ==================================== */

.page {
  flex: 1 1 auto;
}
/* ==================================== */

.header {
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  column-gap: 15px;
  min-height: 103px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 767.98px) {
  .header__container {
    flex-direction: column;
    min-height: auto;
  }
}

.header__logo {
  font-size: 23px;
  font-weight: 800;
  color: inherit;
}
.header__menu {
}
/* ==================================== */

.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 46px;
  row-gap: 15px;
}

.menu__item {
}
.menu__link {
  font-size: 13px;
  font-weight: 800;
  color: inherit;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__list {
    justify-content: center;
  }
  .menu__link {
    font-size: 18px;
  }
}
/* ==================================== */
